* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: red;
}

.frame {
  position: fixed;              
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 70vh;
  transform: translate(-50%, -50%);
}

.frame > .img {
  position: absolute;           
  inset: 0;                     
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;
}

.img-a {
  opacity: 1;
  z-index: 1;
}

.img-b {
  opacity: 0;                 
  z-index: 2;
}

.frame.active .img-a {
  opacity: 0;
}

.frame.active .img-b {
  opacity: 1;
}
